<head>
	<style type="text/css">
		html {
			height: 100%; 
			overflow: auto;
		}
			
		.infoButton {
			background: none;
			border: none;
		}
	</style>
</head>

<div class='item'>
	 <h2>{{:data.eftpos_name}}</h2>
</div>
<i>This terminal is</i> {{:data.machine_id}}. <i>Report this code when contacting Nanotrasen IT Support</i><br>
{{if data.transaction_locked == 1}}
	<div class="line">{{:helper.link(data.transaction_paid ? 'Reset' : 'Reset (authentication required)', 'unlock', {'choice' : 'toggle_lock'})}}</div>
	<br><hr>
	
	<div class='item'>
		<div class='itemLabel'>Transaction purpose:</div> 
		<div class='itemContent'>{{:helper.link(data.transaction_purpose, 'info', null, null, 'link infoButton')}}<br></div>
	</div>
	
	<div class='item'>
		<div class='itemLabel'>Value:</div> 
		<div class='itemContent'>{{:helper.link(data.transaction_amount, 'usd', null, null, 'link infoButton')}}<br></div>
	</div>
	
	<div class='item'>
		<div class='itemLabel'>Linked account:</div>
		<div class='itemContent'>{{:helper.link(data.linked_account ? data.linked_account : 'None', data.linked_account ? 'user' : 'user-times', null, null, 'link infoButton')}}</div>
	</div>
	<hr>
	{{if data.transaction_paid}}
		<i>This transaction has been processed successfully.</i>
	{{else}}
		<i>Swipe your card below the line to finish this transaction.</i>
		<div class="line">{{:helper.link('------', 'eject', {'choice' : 'scan_card'})}}</div>
	{{/if}}
{{else}}
	<div class="line">{{:helper.link('Lock in new transaction', 'lock', {'choice' : 'toggle_lock'})}}</div>
	<br><hr>
	
	<div class='item'>
		<div class='itemLabel'>Transaction purpose:</div> 
		<div class='itemContent'>{{:helper.link(data.transaction_purpose, 'info', {'choice' : 'trans_purpose'})}}<br></div>
	</div>
	
	<div class='item'>
		<div class='itemLabel'>Value:</div> 
		<div class='itemContent'>{{:helper.link(data.transaction_amount, 'usd', {'choice' : 'trans_value'})}}<br></div>
	</div>
	
	<div class='item'>
		<div class='itemLabel'>Linked account:</div>
		<div class='itemContent'>{{:helper.link(data.linked_account ? data.linked_account : 'None', data.linked_account ? 'user' : 'user-times', {'choice' : 'link_account'})}}</div>
	</div>
	<hr>
	<div class="item">
		<div class="line">{{:helper.link('Change access code', 'key', {'choice' : 'change_code'})}}</div>
		<div class="line">{{:helper.link('Change EFTPOS ID', 'pencil', {'choice' : 'change_id'})}}</div>
		<div class="line">{{:helper.link('Scan card to reset acess code', 'credit-card', {'choice' : 'reset'})}}</div>
	</div>
{{/if}}